---
layout: default
---

<div class="brown-panel">
	<div class="row">
		<div class="columns">
			<h1>Hi. I'm Kason, a web developer, designer and amateur chef, based in Dallas, Texas.</h1>
		</div>
	</div>

	<div class="row">
	    <div class="small-12 small-medium-7 medium-6 large-6 right columns ">
            <div class="responsive-demonstration" id="responsive-demonstration">
                <div class="movable-screen" id="movable-screen">
                    <div class="ms-container">
                        <div class="ms-header ms-object">Header</div>
                        <div class="ms-nav ms-object">Navigation</div>
                        <div class="ms-block-1 ms-object">Block 1</div>
                        <div class="ms-block-2 ms-object">Block 2</div>
                        <div class="ms-block-3 ms-object">Block 3</div>
                        <div class="ms-block-4 ms-object">Block 4</div>
                        <div class="ms-block-5 ms-object">Block 5</div>
                    </div>
                </div>
                <div class="device-container">
                    <span class="device desktop">
                    </span>
                    <span class="device laptop">
                    </span>
                    <span class="device tablet">
                    </span>
                    <span class="device mobile">
                    </span>
                    <span class="device toaster">
                    </span>
                </div>
            </div>
	    </div>
	    <div class="small-12 small-medium-5 medium-6 large-6 right columns">

			<h2>I'll build you a responsive website.</h2>
			<h3 class="museo-sans">Like this one.</h3>
			<h3>Or something totally custom and awesome.</h3>
			<a class="form-submit right" href="/contact/">Let's talk</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		{{content}}
	</div>
</div>